<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.morsun.springbootinit.mapper.SunCoinInfoMapper">

    <resultMap id="BaseResultMap" type="com.morsun.springbootinit.model.entity.SunCoinInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="sunCoinAmount" column="sunCoinAmount" jdbcType="INTEGER"/>
            <result property="payMoney" column="payMoney" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,sunCoinAmount,payMoney,
        status,isDelete,createTime,
        updateTime
    </sql>
</mapper>
